{{!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> --}}
<form class="form" name="container-form" method="POST" action="/me/products/handle-form-action?_method=PATCH">
<div class="mt-4 mr-4" style=" margin: 10px 46px;">
  <h3>Thùng rác</h3>

  <a href="/me/products" style="display: inline-block;">Trở về</a>

    <div class="mt-2 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control me-form-checkbox" >
      <option>--Hành động--</option>
      <option value="restore">Restore all</option>

    </select>
    <button class="btn  btn-submit-multiple btn-sm disabled"  >Thực hiện</button>
 

</div>
</div>




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th style="width: 30px ;"></th>
      <th scope="col">STT</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Thời gian xóa</th>
      <th scope="col">Chức năng</th>
    </tr>
  </thead>
  <tbody>
    {{#each Products}}
    <tr>
      <td style="width: 30px ;">
          <div class="form-check">
           
            <input class="form-check-input messageCheckbox" type="checkbox" value="{{this._id}}" name="productID[]" >

          </div>
        </td>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.nameProduct}}</td>
      <td>{{this.desciption}}</td>
      <td>{{this.deletedAt}}</td>
      <td><a href="" data-toggle="modal" data-target="#delete-product-modal" data-id=="{{this._id}}" class="px-2">Xóa
          vĩnh viễn</a>
        <a href="" class="btn-restore" data-id="{{this._id}}">Khôi phục</a>
      </td>
    </tr>
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        Danh sách sản phẩm trống
        <a href="/me/products">Danh sách khóa học</a>
        {{!-- dùng này để chuyển trang nếu dùng thẻ a thì nó sẽ dính rới route me/create --}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
 </form>

{{!-- confirm delete product --}}
<div class="modal" id="delete-product-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to be sure to delete the product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger" id="btn-del-product">Yes,Delete it</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{{!-- hidden form --}}
<form method="POST" name="delete-product-form"></form>
<form method="POST" name="restore-product-form"></form> 



{{!-- Script --}}
<script>
  var btnStore = $('.btn-restore');
  var restoreforms = document.forms['restore-product-form'];
  btnStore.click(function (e) {
    e.preventDefault();
    //console.log($(this).data('id'));
    var productID = $(this).data('id');
    restoreforms.action = '/me/' + productID + '/restore?_method=PATCH';
    restoreforms.submit();

  })

  //xóa destroy
  var productID;
  var deleteform = document.forms['delete-product-form'];
  var btnDeletecourse = document.getElementById('btn-del-product');
  var containerform = document.forms['container-form'];
  document.addEventListener('DOMContentLoaded', function () {
    $('#delete-product-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      productID = button.data('id');

    })
    
    

    btnDeletecourse.onclick = function () {
      deleteform.action = '/me/' + productID + '/destroy?_method=DELETE';
      deleteform.submit();
    }
  });
  //choose all check box

  var checkboxAll = $('#checkbox-all');
  //console.log(checkboxAll);
  var checkboxItem = $('input[name="productID[]"]');

  
  checkboxAll.change(function()
  {
      var ischeck = $(this).prop('checked');
      
      checkboxItem.prop('checked',ischeck);
      renderbtnSubmit();
  })
   


  checkboxItem.change(function()
  {   
     var isCheck =checkboxItem.length === ( $('input[name="productID[]"]:checked').length);
     
    checkboxAll.prop('checked',isCheck);
    renderbtnSubmit();
  })
 
 
  var checkAllSubmitBtn = $('.btn-submit-multiple');

    function renderbtnSubmit() {
      if ($('input[name="productID[]"]:checked').length > 0) {
        checkAllSubmitBtn.removeClass('disabled')
      } else { checkAllSubmitBtn.addClass('disabled') }
    }
   checkAllSubmitBtn.on('submit',function(e)
     {
         var issubmitable = !$(this).hasClass('disabled');
         if(!issubmitable)
         {
          e.preventDefault();
         }
     })
    checkAllSubmitBtn.onclick('submit',function(e)
    {
     
    })



</script>